<!DOCTYPE html>
<html lang="ja">
<link rel="stylesheet" href="/static/css/style.css">
   <body bgcolor="#DDDDDD">
     <header>
       <h1>Image Classification</h1>
     </header>
      {% if predict %}
      <div>
        <div class="img-box">
          <div><IMG SRC="{{filepath}}" width="400" height="400" BORDER="1"></div>
        <!-- </div>
        <div class="desc"> -->
          <p>
          1st Estimation {{predict['class1']}}<BR>
          2nd Estimation {{predict['class2']}}<BR>
          3rd Estimation {{predict['class3']}}<BR>
          </p>
          file name: {{predict['name']}} <BR>
        </div>
      </div>
        <HR>
      {% endif %}
      ファイルを選択して送信してください<BR>
      <form action = "./" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "FILE" />
         <input type = "submit"/>
      </form>
      <footer>
        <h4>Developed By MicStarters</h4>
      </footer>
   </body>
</html>
